section.pg-compra{
    padding: 20px;
}

.container-produto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagens-produto{
    max-width: 600px;
    width: 96%;
    background-color: #ccc;
}

.detalhes-produto{
    max-width: 500px;
    width: 96%;
    min-height: 350px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.detalhes-produto h2{
    font-size: 25px;
    color: #fff;
    padding: 15px;
}

.detalhes-produto ul{
    list-style: none;
}

.detalhes-produto li{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.detalhes-produto li i{
    margin-right: 10px;
    color: #ff0043;
}

.detalhes-produto a{
    color: #fff;
    padding: 18px;
    margin-bottom: 20px;
    background-color: #ff0043;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
}

.detalhes-produto a:hover{
    color: #ff0043;
    background-color: #fff;
}

.detalhes-produto h3{
    font-size: 28px;
    color: #ff0043;
}

.detalhes-produto h3 span{
    font-size: 18px;
    color: #fff;
}

.detalhes-produto p{
    font-size: 18px;
    color: #fff;
}

.imagens-produto-celular{
    display: none;
}

section #voltar{
    display: inline-block;
    color: #fff;
    background-color: #ff0043;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 300ms;
}

section #voltar:hover{
    color: #ff0043;
    background-color: #000;
}
/*slide*/
.img-principal{
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    width: 400%;
    transition: all 300ms;
}


.imagens-produto label img{
    width: 150px;
    cursor: pointer;
    height: auto;
    float: left;
    opacity: 0.3;
    transition: all 500ms;
}

#foto2:checked ~ .img-principal .slide{
    margin-left: -100%;
}

#foto3:checked ~ .img-principal .slide{
    margin-left: -200%;
}

#foto4:checked ~ .img-principal .slide{
    margin-left: -300%;
}

input[name=grupo-img]{
    display: none;
}

input[name=grupo-img]:checked + label img{
    opacity: 0.9;
}

@media screen and (max-width: 1180px){
    .detalhes-produto{
        max-width: 500px;
        width: 96%;
    }
}

@media screen and (max-width: 1160px){
    .detalhes-produto{
        max-width: 400px;
        width: 96%;
    }
}

@media screen and (max-width: 1080px){
    .container-produto{
        justify-content: center;
    }

    .imagens-produto{
        margin-bottom: 20px;
    }
    
    .detalhes-produto{
        max-width: 600px;
        width: 96%;
        min-height: 350px;
        background-color: #000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    section #voltar{
        display: block;
        width: 50%;
        max-width: 300px;
        margin: 15px auto;
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    .imagens-produto{
        display: none;
    }

    .imagens-produto-celular{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagens-produto-celular img{
        width: 96%;
        max-width: 600px;
        border-radius: 10px;
        margin: 5px;
    }
}