*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body{
    width: 100%;
    height: 100vh;
    background-color: #101010;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*Header*/
header{
    background-color: #1a1a1a;
    box-shadow: 5px 10px 20px #000;
    width: 100%;
    min-height: 70px;
}

nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
    padding: 10px;
}

.logo{
    width: 45px;
    height: 45px;
    background-color: #555;
}

.menu{
    display: flex;
}

.menu a{
    padding: 20px;
    color: #fff;
    font-size: 18px;
}
.pesquisa{
    display: flex;
    align-items: center;
}
.pesquisa input{
    width: 380px;
    min-width: 150px;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    transition: all 300ms;
}

.pesquisa input:focus{
    outline: 0;
}

.pesquisa a{
    width: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    font-size: 15px;
    padding: 10px;
    margin-left: -4px;
    background-color: #fff;
    padding: 10px;
    color: #ff0043;
    transition: all 300ms;
}

.pesquisa a:hover{
    background-color: #ff0043;
    color: #fff;
}

.menu-usuario{
    display: flex;
}

.menu-usuario a{
    padding: 10px;
    color: #fff;
    font-size: 25px;
    transition: all 300ms ease-in-out;
}

.menu-usuario a:hover{
    color: #ff0043;
}

/*Seção Banner*/
.banner{
    width: 100%;
    height: 65vh;
    background-color: #ccc;
}

/*Seção Blackfriday*/

.container h1{
    text-align: center;
    color: #fff;
    margin: 30px 0;
    padding: 20px;
    border-bottom: 1px solid #ff0043;
    box-shadow: 5px 10px 20px #000;
}

h1 span{
    color: #ff0043;
}
.blackfriday{
    width: 100%;
    min-height: 300px;
    background-color: #000;
}

/*Main*/
main h1{
    text-align: center;
    color: #fff;
    margin: 30px 0;
    padding: 20px;
    border: none;
    box-shadow: none;
}

#galeria{
    min-height: 900px;
}
.card{
    width: 320px;
    height: 280px;
    background-color: #ff0043;
    margin: 10px;
    float: left;
    transition: all 300ms;
}

/*seletores de filtro*/
section label{
    width: 175px;
    padding: 20px 10px;
    display: block;
    float: left;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

main section input:checked + label{
    background-color: #586f7c;
}

main section input{
    display: none;
}

#btn_frontend:checked ~ #galeria .todos{
    display: none;
}

/*Newsletter*/
.newsletter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    min-height: 90px;
}

.newsletter h3{
    color: #fff;
    font-size: 22px;
}

.newsletter h3 span{
    color: #ff0043;
}

.captura-email{
    display: flex;
    align-items: center;
}

.captura-email input{
    width: 380px;
    min-width: 150px;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    transition: all 300ms;
}

.captura-email input:focus{
    outline: 0;
}

.captura-email a{
    width: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    font-size: 15px;
    padding: 10px;
    margin-left: -4px;
    background-color: #fff;
    padding: 10px;
    color: #ff0043;
    transition: all 300ms;
}

.captura-email a:hover{
    background-color: #ff0043;
    color: #fff;
}

/*footer*/
footer{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sobre{
    width: 600px;
    padding: 20px;
}

.sobre h2{
    color: #fff;
    font-size: 23px;
}

.sobre span{
    display: inline-block;
    width: 90px;
    height: 3px;
    background-color: #ff0043;
}

.sobre p{
    padding: 15px 0;
    color: #fff;
}

.redes-sociais ul{
    display: flex;
    gap: 5px;
    max-width: 200px;
}

.redes-sociais li a{
    padding: 10px;
    background-color: #ff0043;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    transition: all 300ms;
}

.redes-sociais li a:hover{
    background-color: #fff;
    color: #ff0043;
}

.contato{
    width: 500px;
    padding: 20px
}

.contato h2{
    color: #fff;
    font-size: 23px;
}

.contato span{
    display: inline-block;
    width: 90px;
    height: 3px;
    background-color: #ff0043;
}

.contato form{
    width: 100%;
}

.contato input[type=text]{
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 10px 5px 10px 0;
}

.contato input[type=email]{
    width: 98%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 0 5px 10px 0;
}

.contato textarea{
    width: 98%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    resize: none;
}

.contato input:focus, .contato textarea:focus{
    outline: 0;
}

.direitos-autorais{
    width: 100%;
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    color: #fff
}

.direitos-autorais a{
    color: #fff;
    font-weight: bold;
}


